body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Image-section img {
	max-height: 245px;
	max-width: 256px;
}

.Image-section {
	text-align: center;
}

.Post {
	padding: 16px;
	border: 1px solid gray;
}

.Subreddit-title {
	text-align: center;
}

.Post-actions {
	display: flex;
	justify-content: space-between;
}

.Votes-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}